   *{
     	box-sizing: border-box;
     	color: #424242;
     	font-family: fantasy;
     }
     body{
     	margin: 0;
     }
     .content{
     	margin: auto;
     	border: 1px solid #dee1df;
     	width: 45%;
     	height: 500px;
     	margin-top: 40px;
     	margin-bottom: 20px;
     }
     .cabezera{
     	background: url("../imagenes/img.png") center no-repeat;
     /* background-image: url("../imagenes/img.png");
        background-repeat: no-repeat;
     	background-position: center;*/
     	background-color:  #f5f7f6;
     	height: 175px;
     	border-bottom: 1px solid  #dee1df;
     }
     .col{
     	width: 50%;
     	float: left;
        padding: 20px 40px 10px 40px;
     }
     .col2{
     	 padding-left: 0px
         padding-right: 40px;
     }

     input:not([type=checkbox]),select{
     	width: 100%;
     	padding: 8px;
     	margin-bottom: 15px;
     	border: 1px solid #eceeec;
     }
     .col p{
     	padding: 0;
     	line-height: 25px;
     }

    footer{
    	position: static;
    	height: auto;
    	background-color:  #2f2f2f;
    	padding: 30px 20px;
    }
    footer p, a{
    	color: white;

    }
    input[type=submit]{
    	background-color: #235724;
    	color: white;
    	margin-top: 15px;
        cursor: pointer;
    }

    @media screen and (max-width: 700px){
    	.content{
    		width: 90%;
    		height: auto;
    	}
    	.col{
    		width: 90%;
    		float: none;
    	}
    }
    @media screen and (max-width: 1000px){
    	.content{
            width: 80%;
            height: auto;
    	}
    	.col{
    		width: 90%;
    		float: none;
    	}
    }